* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
}

header {
    background-color: rgb(255, 128, 8);
    padding: 30px;
}

.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px;
    height: 50px;
}

.mainsection {
    max-width: 1440px;
    margin: auto;
}

.main-flex {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
}

.main-content {}

#content-container {
    width: calc(100% - 350px);
}


footer {
    background-color: rgb(255, 128, 8);
    padding: 30px;
}

.footer-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 200px;
    height: 50px;
}